.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.svg_container {
    position: relative;
    flex: 1;
}

.svg_content_container {
    position: absolute;
    top: 0;
    left: 0;

  background-image: linear-gradient(45deg, #dfdfdf 25%, transparent 25%), linear-gradient(-45deg, #dfdfdf 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #dfdfdf 75%), linear-gradient(-45deg, transparent 75%, #dfdfdf 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

  height: 100%;
  width: 100%;
}

.svg_overlay {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
}

.editor__highlighted_token_marker {
    position: absolute;
    border-radius: 1;
    background-color: #f4c542ff;
    opacity: 0.2;
    color: white;
    border-bottom: 0px solid #f4c542;
}

.error_container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #f44141;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #f26868;
}

.error_explanation {
}

.error_content_text {
    font: 20px monospace;
}