.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.svgContainer {
  background-image: linear-gradient(45deg, #dfdfdf 25%, transparent 25%), linear-gradient(-45deg, #dfdfdf 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #dfdfdf 75%), linear-gradient(-45deg, transparent 75%, #dfdfdf 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

  flex: 1;
}

.editor__highlighted_token_marker {
    position: absolute;
    border-bottom: 1px solid #f4bf42;
}